@import url("./fonts/fonts.css");

:root {
  --background: #f7f7f7;
  --username: #0cb4f1;
  --font: #acacac;
  --name-tablet: #9eaab4;
  --white: #ffffff;
  --grey: #eceff0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

.content {
  margin: 0 auto;
  max-width: 1280px;
}
